header {
    background-color: darkolivegreen;
    text-align: center;
}
h1 {
    color: lightcyan;
}
h2 {
    color: lightblue;
}
main {
    padding: 1em;
    background-color: lightgray;
}
body {
    margin: 0;
    background-image: url("record.png");
    background-color: #cccccc;
}